<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css"/>
		<title>Forgot-Password</title>
	</head>
	<body>
      <div id="sc-password">
        <h1>Forgot-Password</h1>
        <form class="sc-container" action="" method="POST">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
          <input type="submit" value="Get New Password" />
        </from>
      </div>
	</body>
</html>
